






h1 {
    font-size: 4rem;
}

.content-text div h2 {
    line-height: 70px;
    text-decoration: underline;
    text-align: center;
}

.btn {
    width: 100%;
}

.alert-primary,.activityLevel,.kalori-btn,.alert-info,.fs-1 {
    display: none;
}

